<h1><%= current_user.name %></h1>
<br />
<div class="col-md-9 pull-left">
<h4>New Qwit</h4>

<%= form_for @qwit, url: qwits_path do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.text_field :post %>
  <%= f.submit "Qwit it!", class: "btn btn-success" %>
<% end %>
<br />
<br />
<% current_user.qwits.order(created_at: :desc).each do |qwit| %>
  <div class="panel panel-success"><p><%= qwit.post %></p></div><br />
<% end %>
</div>

<div class="col-md-3 pull-right right">
  <h4>Qwitters you Follow</h4>
  <% @current_followers.each do |user| %>
    <p><%= form_for @following, url: following_path(current_user), method: "delete" do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :follower_id, value: user.id %>
      <%= f.submit "#{user.name}", class: "btn btn-primary" %>
    <% end %></p>
  <% end %>
  <br /><br />

  <h4>Other Qwitters!</h4>

  <p>Click to follow</p><hr>

  <% @not_following.each do |user| %>
    <p><%= form_for @following, url: followings_path, method: "post" do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :follower_id, value: user.id %>
      <%= f.submit "#{user.name}", class: "btn btn-primary" %>
    <% end %></p>
  <% end %>
</div>



